mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin social
  ul.social
    li.social__item
      a(href="#" aria-label="vk" target="_blank"): +icon('social__icon', 'vk')
    li.social__item
      a(href="#" aria-label="instagram" target="_blank")
        .social__icon-wrapper
          +icon('social__icon social__icon--insta', 'instagram')
    li.social__item
      a(href="#" aria-label="youtube" target="_blank"): +icon('social__icon', 'youtube')

mixin linkButton(link, txt)
  a.link-button(href="#")
    .link-button__inner= txt
      +icon('link-button__icon', 'arrow-right')

mixin mediaButton
  button.media-button(aria-label="Воспроизвести видео")
    +icon('media-button__icon', 'play')

mixin introSlide(img, title, subtitleArr, descrip, featuresArr)
  .swiper-slide(style=`background-image:url(images/index/intro/${img})`)
    .container
      .intro__inner
        .intro__content
          h2.intro__title= title
          h3.intro__subtitle
            span= subtitleArr[0]
            = subtitleArr[1]
          p.intro__descrip= descrip
          ul.intro__features
            for item in featuresArr
              li= item
          +linkButton('#', 'В каталог проектов')
        .intro__media
          +mediaButton
          p.intro__media-txt
            |Посмотреть
            span видео-презентацию
            |компании
