mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin logo(logo, isInFooter = false)
  .logo
    +icon('logo__icon', logo)
    if isInFooter
      h2.logo__title Производство и строительство домов из клееного бруса и массива в Минской области и районе
    else
      h1.logo__title Производство и строительство домов из клееного бруса в Минской области

mixin worktime
  p.worktime Пн-Пт: 9:00 до 17:00

mixin summary(className)
  summary(class= className)
    span подробнее
    +icon(`${className}-icon`, 'arrow-right')

mixin social
  ul.social
    li.social__item
      a(href="#" aria-label="vk" target="_blank" rel="noopener"): +icon('social__icon', 'vk')
    li.social__item
      a(href="#" aria-label="instagram" target="_blank" rel="noopener")
        .social__icon-wrapper
          +icon('social__icon social__icon--insta', 'instagram')
    li.social__item
      a(href="https://www.youtube.com/channel/UCUdIa66ASkvG7fYzFUC6DWA" aria-label="youtube" target="_blank" rel="noopener"): +icon('social__icon', 'youtube')

mixin linkButton(link, txt, modif=null)
  a.link-button(href="#" class= modif)
    .link-button__inner= txt
      +icon('link-button__icon', 'arrow-right')

mixin submitButton(txt)
  button.form__button
    = txt
    +icon('form__button-icon', 'arrow-right')

mixin mediaButton
  button.media-button(aria-label="Воспроизвести видео")
    +icon('media-button__icon', 'play')

mixin projectsItem(img, location, detailsArr, title, link, floors, area)
  li.projects__item(tabindex="0")
    img.projects__item-img.lozad(data-src=`images/index/projects/${img}.jpg`, width="480", height="480", alt="")
    .projects__item-descrip
      p.projects__item-location
        +icon('projects__item-icon', 'location')
        = location
      ul
        for item in detailsArr
          li= item
      .projects__item-preview
        .projects__item-preview-left
          h3.projects__item-title= title
          a.projects__item-link(href= link)
            p Подробнее
            +icon('projects__item-link-icon', 'arrow-right')
        .projects__item-preview-right
          p.projects__item-floors= floors
          p.projects__item-area
            +icon('projects__item-icon', 'area')
            = area

mixin sectionWebuild
  section.webuild
    .container
      h2.webuild__title Мы построили более 100 домов и построим Ваш дом мечты
      details#details-webuild.webuild__details
        +summary('webuild__summary')
        .webuild__txt
          p Gusarev House — деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
          p Дома компании Gusarev House востребованы по всей Минской области. Строения компании можно найти на территории всей Минской области, а так же Минского района. Дома, созданные Gusarev House, отличают неординарные архитектурные решения и исключительная надежность.
          p Наша компания всегда осуществляла полный цикл производства деревянных строений, возводя их под ключ. То есть от заготовки материала до финишной отделки, которая обеспечивает защиту дерева и делает его прочным на долгие годы.

mixin catalogItem(img, title, link, area)
  li.catalog__item
    a.catalog__item-link(href= link aria-label="Подробнее" target="_blank")
    img.catalog__item-img.lozad(data-src=`images/index/catalog/${img}.jpg`, width="330",height="240", alt="")
    .catalog__item-content
      h3.catalog__item-title= title
      .catalog__item-info
        p.catalog__item-details
          |Подробнее
          +icon('catalog__item-details-icon', 'arrow-right')
        p.catalog__item-area
          +icon('catalog__item-area-icon', 'area')
          = area
          sup 2

mixin formCatalog
  form#form-catalog.form(method="POST", action="#")
    .form__inner
      .form__control
        span.form__error
        input#form-catalog-name.form__input(name="catalog-name" type="text" placeholder="Ваше имя" data-form-name)
      .form__control
        span.form__error
        input#form-catalog-phone.form__input(name="catalog-phone" type="text" placeholder="Ваш телефон" data-form-phone)
      .form__control
        span.form__error
        input#form-catalog-email.form__input(name="catalog-email" type="text" placeholder="Ваш e-mail (необязательно)" data-form-email)
    +submitButton("Загрузить каталог")

mixin formCallback
  section.form-callback
    .form-callback__titles.container
      h3.form-callback__suptitle Это бесплатно!
      h2.form-callback__title
        span Перезвоним и проконсультируем&nbsp;
        |по любым вопросам, заполните форму
    .form-content
      .container
        form#form-callback.form(method="POST", action="#")
          p.form__txt После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00
          .form__inner
            .form__group
              .form__control
                span.form__error
                input#form-callback-name.form__input(name="callback-name" type="text" placeholder="Ваше имя" data-form-name)
              .form__control
                span.form__error
                input#form-callback-phone.form__input(name="callback-phone" type="text" placeholder="Ваш телефон" data-form-phone)
              .form__control
                span.form__error
                input#form-callback-email.form__input(name="callback-email" type="text" placeholder="Ваш e-mail (необязательно)" data-form-email)
            .form__group
              .form__control.form__control--wide
                span.form__error
                input#form-message.form__input(name="callback-msg" maxlength="250" placeholder="Ваше сообщение (необязательно)" data-form-message)
              +submitButton("Перезвонить")
        //- img.form__img.lozad(data-src="images/common/phone.png", alt="")
