mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin logo(logo, isInFooter = false)
  .logo
    +icon('logo__icon', logo)
    if isInFooter
      h2.logo__title Производство и строительство домов из клееного бруса и массива в Минской области и районе
    else
      h1.logo__title Производство и строительство домов из клееного бруса в Минской области

mixin crumbs(arrLinks)
  .crumbs
    .container
      nav.crumbs__inner
        ul
          li: a(href='index.html') Главная
          for link in arrLinks
            li: a(href= link.href)= link.name

mixin worktime
  p.worktime Пн-Пт: 9:00 до 17:00

mixin contactsInfo
  +worktime
  .phones
    +icon('icon', 'phone')
    ul
      li
        a(href="tel:+375297777777") +375 (29) 777 77 77
      li
        a(href="tel:+375338312233") +375 (33) 831 22 33
      li
        a(href="tel:+375256663883") +375 (25) 666 38 83
  .mail
    +icon('icon', 'message')
    a(href="mailto:info@gusarevhouse.by") info@gusarevhouse.by

mixin summary(className)
  summary(class= className)
    span подробнее
    +icon(`${className}-icon`, 'arrow-right')

mixin social
  ul.social
    li.social__item
      a(href="#" aria-label="vk" target="_blank" rel="noopener"): +icon('social__icon', 'vk')
    li.social__item
      a(href="https://www.instagram.com/gusarev_house/" aria-label="instagram" target="_blank" rel="noopener")
        .social__icon-wrapper
          +icon('social__icon social__icon--insta', 'instagram')
    li.social__item
      a(href="https://www.youtube.com/channel/UCUdIa66ASkvG7fYzFUC6DWA" aria-label="youtube" target="_blank" rel="noopener"): +icon('social__icon', 'youtube')

mixin linkButton(link, txt, modif=null)
  a.button(href= link class= modif)
    span.button__inner= txt
      +icon('button__icon', 'arrow-right')

mixin modalCallButton(txt, dataTarget, modif=null)
  button.button(class= modif data-modal-target= dataTarget)
    span.button__inner= txt
      +icon('button__icon', 'arrow-right')

mixin submitButton(txt)
  button.form__button
    = txt
    +icon('form__button-icon', 'arrow-right')

mixin mediaButton
  button.media-button(aria-label="Воспроизвести видео" data-modal-target="#modal-youtube")
    +icon('media-button__icon', 'play')

mixin companyFeature(titleArr, icon)
  li.company-feature
    +icon('company-feature__icon', icon)
    h3.company-feature__title
      span= titleArr[0]
      = titleArr[1]

mixin introSlide(img, title, subtitleArr, descrip, featuresArr, modif=null)
  .swiper-slide
    .intro__bg-img.lozad(data-background-image=`images/intro/${img}.jpg`)
    .container
      .intro__inner
        .intro__content
          h2.intro__title= title
          h3.intro__subtitle(class= modif)
            span= subtitleArr[0]
            = subtitleArr[1]
          p.intro__descrip= descrip
          ul.intro__features
            for item in featuresArr
              li= item
          +linkButton('#', 'В каталог проектов', 'button--light')
        .intro__media
          +mediaButton
          p.intro__media-txt
            |Посмотреть
            span видео-презентацию
            |компании

mixin projectsItem(img, location, detailsArr, title, link, floors, area)
  li.projects__item(tabindex="0")
    img.projects__item-img.lozad(data-src=`images/projects/${img}.jpg`, width="480", height="480", alt="")
    .projects__item-descrip
      p.projects__item-location
        +icon('projects__item-icon', 'location')
        = location
      ul
        for item in detailsArr
          li= item
      .projects__item-preview
        .projects__item-preview-left
          h3.projects__item-title= title
          a.projects__item-link(href= link)
            p Подробнее
            +icon('projects__item-link-icon', 'arrow-right')
        .projects__item-preview-right
          p.projects__item-floors= floors
          p.projects__item-area
            +icon('projects__item-icon', 'area')
            = area

mixin sectionWebuild
  section.webuild
    .container
      h2.webuild__title Мы построили более 100 домов и построим Ваш дом мечты
      .webuild__txt
        p Gusarev House — деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
        p Дома компании Gusarev House востребованы по всей Минской области. Строения компании можно найти на территории всей Минской области, а так же Минского района. Дома, созданные Gusarev House, отличают неординарные архитектурные решения и исключительная надежность.
        p Наша компания всегда осуществляла полный цикл производства деревянных строений, возводя их под ключ. То есть от заготовки материала до финишной отделки, которая обеспечивает защиту дерева и делает его прочным на долгие годы.
        details#details-webuild.webuild__details
          +summary('webuild__summary')
          .webuild__txt
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis facere doloribus, adipisci, temporibus, quaerat alias quasi quibusdam maiores labore similique ratione repellat aperiam nam saepe cumque exercitationem nobis sapiente!Maxime, quod. Id, fuga. Non minus optio, ut hic recusandae neque amet at fugit modi iure esse, debitis explicabo nisi velit id distinctio. Provident quae consectetur totam repellendus, quaerat eaque?Consectetur soluta, vero quaerat repellat unde consequuntur magni delectus earum doloremque ipsam nihil labore ut amet ipsum vel iusto quia commodi sed? Dolor rem sed eaque, eos temporibus veritatis ipsum!

mixin feeItem(img, titleArr, link)
  li.fee__item.lozad(data-background-image=`images/fee/${img}.jpg`)
    .fee__content
      h3.fee__title
        = titleArr[0]
        span= titleArr[1]
      +modalCallButton('Подробнее', '#form-request', 'button--light')

mixin sectionCompany(textArr=null, isAboutPage=false, modif=null)
  section.company(class= modif)
    .container
      .company__inner
        .company__images
          img.company__img.lozad(data-src="images/company/house-1.jpg" width="450" height="690" alt="")
          .company__years.lozad(data-background-image=`images/company/texture-1.png`)
            p.company__years-txt
              span 25
              |лет на рынке
          .company__img-decorator.lozad(data-background-image=`images/company/texture-2.png`)
        .company__content
          if !isAboutPage
            h3.company__suptitle Компания Gusarev House
          if !isAboutPage
            h2.company__title
              |С 1995 года&nbsp;
              span строим&nbsp;
              |теплые и долговечные деревянные дома
          else
            h2.company__title
              |О&nbsp;
              span компании
          p.company__descrip Новейшие технологии позволяют нам конкурировать с любыми мировыми производителями
          .company__txt
            p Gusarev House — ведущая деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
            if textArr
              for text in textArr
                p= text
          if !isAboutPage
            +linkButton('about.html', 'Подробнее о компании')

mixin catalogItem(img, title, link, area)
  li.catalog__item
    a.catalog__item-link(href= link aria-label="Подробнее")
    img.catalog__item-img.lozad(data-src=`images/catalog/${img}.jpg`, width="330", height="240", alt="")
    .catalog__item-content
      h3.catalog__item-title= title
      .catalog__item-info
        p.catalog__item-details
          |Подробнее
          +icon('catalog__item-details-icon', 'arrow-right')
        p.catalog__item-area
          +icon('catalog__item-area-icon', 'area')
          = area
          sup 2

mixin sectionCatalog
  section.catalog
    .catalog__wrapper.container
      +formCatalog
      .catalog__content
        h2.catalog__title
          span Каталог&nbsp;
          |популярных проектов
        ul.catalog__list
          +catalogItem('catalog-1', 'Мега-гипер-ультра длинное название проекта', 'catalog-product.html', '50 м')
          +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
          +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
          +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
          +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
          +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
    +linkButton('catalog.html', 'В каталог проектов', 'button--center')

mixin produceItem(img, title, textArr, link, isProduceDesign=false)
  li.produce__item.lozad(data-background-image=`images/produce/${img}.jpg` tabindex="0")
    .produce__inner
      if isProduceDesign
        p.produce__item-decorator Проектирование
      else
        p.produce__item-decorator Производство
      .produce__item-info
        h3.produce__item-title= title
        .produce__item-txt
          for item in textArr
            p= item
        button.produce__item-link(data-modal-target="#form-callme")
          p Подробнее
          +icon('produce__item-link-icon', 'arrow-right')

mixin docsItem(img)
  li.docs__item
    img.docs__item-img.lozad(data-src=`images/docs/${img}`, width="230", height="328" alt="")

mixin sectionDocs
  section.docs
    .container
      .docs__inner
        h2.docs__title
          |Документы и&nbsp;
          span сертификаты
        ul#about-docs.docs__list
          +docsItem('doc-1.jpg')
          +docsItem('doc-1.jpg')
          +docsItem('doc-1.jpg')
          +docsItem('doc-1.jpg')

mixin sectionYoutube
  section.youtube
    .container
      .youtube__inner
        .youtube__info
          p.youtube__suptitle И не только!
          h2.youtube__title
            |Делимся экспертностью в области строительства&nbsp;
            span на нашем Youtube канале
          a.youtube__link(href="https://www.youtube.com/channel/UCUdIa66ASkvG7fYzFUC6DWA" target="_blank" rel="noopener")
            p Смотреть Youtube канал
            +icon('youtube__link-icon', 'arrow-right')
        ul.youtube__videos
          li.youtube__item.lozad(data-background-image="images/youtube/youtube-1.jpg")
            +mediaButton
          li.youtube__item.lozad(data-background-image="images/youtube/youtube-1.jpg")
            +mediaButton

mixin sectionFeaturesCompany
  section.company-features
    .company-features__bg.lozad(data-background-image="images/features/bg.jpg")
    .container
      .company-features__inner
        h2.company-features__title
          span Преимущества домов&nbsp;
          |Gusarev House
        ul.company-features__list
          +companyFeature(['Собственное производство, ', 'высочайшее качество'], 'feature-1')
          +companyFeature(['Разнообразие готовых проектов ', 'или разработаем индивидуальный'], 'feature-2')
          +companyFeature(['Гибкая ценовая политика ', 'и чёткое соблюдение сроков'], 'feature-3')
          +companyFeature(['Полный контроль ', 'строительство дома'], 'feature-4')
          +companyFeature(['Быстрая скорость, ', 'обработки заявок'], 'feature-5')
          li.company-feature
            +icon('company-feature__icon', 'feature-6')
            h3.company-feature__title
              |Работаем на&nbsp;
              span высококачественном оборудовании
          li.company-feature
            +icon('company-feature__icon', 'feature-7')
            h3.company-feature__title
              |Организовываема&nbsp;
              span удобную для Вас логистику
          +companyFeature(['Индивидуальный подход ', 'к каждому нашему клиенту'], 'feature-8')

mixin formCatalog(isText=true)
  .catalog__form
    .catalog__form-descrip
      h2.catalog__form-title
        span Скачайте каталог проектов&nbsp;
        |в 1 клик
      picture.lozad
        source(srcset="images/catalog/mockup.webp" type="image/webp")
        img.catalog__form-img(src="images/index/catalog/mockup.png", width="270" height="217", alt="Каталог")
      h3.catalog__form-subtitle
        span Зарегистрируйтесь,&nbsp;
        |чтобы получить доступ к каталогу
    form#form-catalog.form(method="POST", action="#")
      .form__inner
        .form__control
          span.form__error
          input.form__input(name="catalog-name" type="text" placeholder="Ваше имя" data-form-name)
        .form__control
          span.form__error
          input.form__input(name="catalog-phone" type="text" placeholder="Ваш телефон" data-form-phone)
        .form__control
          span.form__error
          input.form__input(name="catalog-email" type="text" placeholder="Ваш e-mail (необязательно)" data-form-email)
      +submitButton("Загрузить каталог")
      if isText
        p.catalog__form-txt Помимо уже существующих проектов архитекторы компании могут спроектировать дом именно под Вас. Представленные варианты внутренних планировок условны. При желании совместно с нашими архитекторами Вы можете разработать собственное планировочное решение.

mixin formCallback(titleArr, feature, formTxt, modificators={modifDisplay: null, modifReverse: null})
  section.form-callback
    .form-callback__titles.container(class= modificators.modifReverse)
      p.form-callback__feature= feature
      h2.form-callback__title
        span(class= modificators.modifDisplay)= titleArr[0]
        = titleArr[1]
    .form-content
      .container
        form#form-callback.form(method="POST", action="#")
          p.form__txt= formTxt
          .form__inner
            .form__group
              .form__control
                span.form__error
                input.form__input(name="callback-name" type="text" placeholder="Ваше имя" data-form-name)
              .form__control
                span.form__error
                input.form__input(name="callback-phone" type="text" placeholder="Ваш телефон" data-form-phone)
              .form__control
                span.form__error
                input.form__input(name="callback-email" type="text" placeholder="Ваш e-mail (необязательно)" data-form-email)
            .form__group
              .form__control.form__control--wide
                span.form__error
                input.form__input(name="callback-msg" maxlength="250" placeholder="Ваше сообщение (необязательно)" data-form-message)
              +submitButton("Перезвонить")
        .form-callback__img
          img.form-callback__img-phone.lozad(data-src="images/common/phone.png", width="780", height="842", alt="")
          img.form-callback__img-arrow.lozad(data-src="images/common/arrows.png", width="933", height="567", alt="")

mixin formCallbackMini(titleArr, subtitle, modificators={modifDisplayGroup: null}, isRadio=false)
  .form-callback-mini
    .form-content
      form#form-callback-mini.form(method="POST", action="#")
        if subtitle
          h2.form-callback-mini__title= subtitle
        p.form-callback-mini__subtitle
          span= titleArr[0]
          = titleArr[1]
        .form__inner(class= modificators.modifDisplayInner)
          if isRadio
            .form-callback-mini__type
              h3.form-callback-mini__type-title 1. Выберите что Вам необходимо:
              .form__control
                span.form__error
                label.form__checkbox-wrapper
                  input.form__checkbox(name="callback-mini-type" type="radio" data-form-type checked)
                  span.form__checkbox-styled
                  span.form__checkbox-txt Архитектурный проект
              .form__control
                span.form__error
                label.form__checkbox-wrapper
                  input.form__checkbox(name="callback-mini-type" type="radio" data-form-type)
                  span.form__checkbox-styled
                  span.form__checkbox-txt Адаптация проекта
          .form__group.form__group(class= modificators.modifDisplayGroup)
            .form__control.form__control--wide
              span.form__error
              input.form__input(name="callback-mini-phone" type="text" placeholder="Ваш телефон" data-form-phone)
            +submitButton("Перезвонить")

mixin productAbout(txt)
  section.product-about.container
    .product-about__inner
      h2.product-title О проекте
      .product-about__txt
        p= txt
    +modalCallButton('Получить консультацию', '#form-callme')

mixin productPlan(imgArr)
  section.product-plan.container
    h2.product-title Планировки
    ul.product-plan__list
      for img in imgArr
        li.product-plan__list-item
          img.product-plan__list-img.lozad(data-src=`images/projects/sloboda/${img}`, width="690", height="440" alt="")

mixin productSlider(imgArr)
  #swiper-product.swiper-container
    .swiper-wrapper
      for img in imgArr
        .swiper-slide
          img.swiper-slide.product__slide(src=`images/projects/sloboda/${img}`, width="690" height="559" alt="")
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination

mixin aboutSlider(imgArr)
  #swiper-about.swiper-container
    .swiper-wrapper
      for img in imgArr
        .swiper-slide
          img.swiper-slide.about-slider__slide(src=`images/about/${img}`, width="1170" height="580" alt="")
    .swiper-pagination
  .swiper-button-prev
  .swiper-button-next

mixin modal
  #modal.modal
    button.modal__button-close(aria-label="Закрыть форму обратной связи" data-modal-close)
      +icon('modal__button-close-icon', 'close')
    #modal-content.modal__content
