mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin social
  ul.social
    li.social__item
      a(href="#" aria-label="vk" target="_blank"): +icon('social__icon', 'vk')
    li.social__item
      a(href="#" aria-label="instagram" target="_blank")
        .social__icon-wrapper
          +icon('social__icon social__icon--insta', 'instagram')
    li.social__item
      a(href="#" aria-label="youtube" target="_blank"): +icon('social__icon', 'youtube')

mixin linkButton(link, txt, modif=null)
  a.link-button(href="#" class= modif)
    .link-button__inner= txt
      +icon('link-button__icon', 'arrow-right')

mixin submitButton(txt)
  button.form__button
    = txt
    +icon('form__button-icon', 'arrow-right')

mixin mediaButton
  button.media-button(aria-label="Воспроизвести видео")
    +icon('media-button__icon', 'play')

mixin introSlide(img, title, subtitleArr, descrip, featuresArr)
  .swiper-slide.lozad(data-background-image=`images/index/intro/${img}`)
    .container
      .intro__inner
        .intro__content
          h2.intro__title= title
          h3.intro__subtitle
            span= subtitleArr[0]
            = subtitleArr[1]
          p.intro__descrip= descrip
          ul.intro__features
            for item in featuresArr
              li= item
          +linkButton('#', 'В каталог проектов', 'link-button--light')
        .intro__media
          +mediaButton
          p.intro__media-txt
            |Посмотреть
            span видео-презентацию
            |компании

mixin feeItem(img, titleArr, link)
  li.fee__item.lozad(data-background-image=`images/index/fee/${img}`)
    .fee__content
      h3.fee__title
        = titleArr[0]
        span= titleArr[1]
      +linkButton(`${link}`, 'Подробнее', 'link-button--light')

mixin catalogItem(img, title, link, area)
  li.catalog__item
    a.catalog__item-link(href= link aria-label="Подробнее" target="_blank")
    picture.lozad
      source(srcset=`images/index/catalog/${img}.webp` type="image/webp")
      img.catalog__item-img(src=`images/index/catalog/${img}.jpg`, width="330",height="240", alt="")
    .catalog__item-content
      h3.catalog__item-title= title
      .catalog__item-info
        p.catalog__item-details
          |Подробнее
          +icon('catalog__item-details-icon', 'arrow-right')
        p.catalog__item-area
          +icon('catalog__item-area-icon', 'area')
          = area
          sup 2

mixin formCatalog
  form#form-catalog.form( method="POST",)
    .form__inner
      .form__control
        span.form__error
        input#form-catalog-name.form__input(name="catalog-name" type="text" placeholder="Ваше имя")
      .form__control
        span.form__error
        input#form-catalog-phone.form__input(name="catalog-phone" type="text" placeholder="Ваш телефон")
      .form__control
        span.form__error
        input#form-catalog-email.form__input(name="catalog-email" type="text" placeholder="Ваш e-mail (необязательно)")
    +submitButton("Загрузить каталог")

mixin featuresItem(titleArr, icon)
  li.features__item
    +icon('features__item-icon', icon)
    h3.features__item-title
      span= titleArr[0]
      = titleArr[1]
