mixin introSlide(img, title, subtitleArr, descrip, featuresArr)
  .swiper-slide.lozad(data-background-image=`images/index/intro/${img}.jpg`)
    .container
      .intro__inner
        .intro__content
          h2.intro__title= title
          h3.intro__subtitle
            span= subtitleArr[0]
            = subtitleArr[1]
          p.intro__descrip= descrip
          ul.intro__features
            for item in featuresArr
              li= item
          +linkButton('#', 'В каталог проектов', 'button--light')
        .intro__media
          +mediaButton
          p.intro__media-txt
            |Посмотреть
            span видео-презентацию
            |компании

mixin feeItem(img, titleArr, link)
  li.fee__item.lozad(data-background-image=`images/index/fee/${img}.jpg`)
    .fee__content
      h3.fee__title
        = titleArr[0]
        span= titleArr[1]
      +linkButton(`${link}`, 'Подробнее', 'button--light')

mixin featuresItem(titleArr, icon)
  li.features__item
    +icon('features__item-icon', icon)
    h3.features__item-title
      span= titleArr[0]
      = titleArr[1]

mixin produceItem(img, title, textArr, link)
  li.produce__item.lozad(data-background-image=`images/index/produce/${img}.jpg` tabindex="0")
    .produce__inner
      p.produce__item-decorator Производство
      .produce__item-info
        h3.produce__item-title= title
        .produce__item-txt
          for item in textArr
            p= item
        a.produce__item-link(href= link)
          p Подробнее
          +icon('produce__item-link-icon', 'arrow-right')
