mixin saleItem(img, suptitle, title, location, price, link, area=null)
  li.sale__item
    img.sale__item-img.lozad(data-src=`images/sale/sloboda/${img}.jpg`, width="450",height="300", alt="")
    .sale__item-content
      .sale__item-titles
        h3.sale__item-title= title
        h4.sale__item-suptitle= suptitle
      .sale__item-inner
        p.sale__item-location
          +icon('sale__item-location-icon', 'location')
          = location
        if area
          p.sale__item-area
            +icon('sale__item-area-icon', 'area')
            = area
            sup 2
      p.sale__item-price= price
      .sale__item-info
        button.sale__item-buy(data-modal-target="#form-callme") Купить
        a.sale__item-link(href= link)
          |Узнать подробнее
          +icon('sale__item-link-icon', 'arrow-right')
